.App {
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F5F5DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.4rem;
  border-radius: 0.4rem;
  padding: 0.4rem 0.9rem;
  border: 2px solid black;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 5px;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* Main */
.App-header {
  width: 100%;
  flex-grow: 1;
}

/* Video Styling */
.video-container {
  width: 90%;
  height: 25rem;
  background-color: black;
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.scan-video {
  width: auto;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.scan-button {
  margin-top: 1rem;
  width: 90%;
}